{{ form_start(form) }}
    
        <form class="max-w-md items-center border-neutral-950" action="{{ path('app_family_index') }}" method="post">
            {{ form_start(form) }}
            <div>
                {{ form_label(form.familyName, 'Family Name') }}
                {{ form_widget(form.familyName,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.adress, 'Family Adress')}}
             {{ form_widget(form.adress,{'attr': {'class': 'form-control'}}) }}
            </div>

            <div>
                {{ form_label(form.phone, 'Family Phone') }}
                {{ form_widget(form.phone,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.composition, 'Family composition') }}
                {{ form_widget(form.composition,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.Accommodation, 'Family Accommodation') }}
                {{ form_widget(form.Accommodation,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.Father_Profession, 'Family Father_Profession') }}
                {{ form_widget(form.Father_Profession,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.mother_Profession, 'Family mother_Profession') }}
                {{ form_widget(form.mother_Profession,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.Insurance, 'Family Insurance') }}
                {{ form_widget(form.Insurance,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.Health_Status, 'Family Health_Status') }}
                {{ form_widget(form.Health_Status,{'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="flex justify-center mt-7">            
                <button type="submit" class="relative inline-flex items-center justify-center py-0.9 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                    <span class="relative px-7 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">Save</span>
                </button>   
                <a href="{{ path('app_family_index') }}" class="ml-4 mt-2 text-gray-500 hover:text-sky-700">Back to list</a>
            </div>

            {{ form_end(form) }}
        </form>
    <button type="submit" class=" flex justify-center text-black font-bold text-xl m-7">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

