{% extends 'baseV1.html.twig' %}

{% block title %}Family index{% endblock %}

{% block body %}
    <div class=" mx-auto p-4 container">
        <h1 class=" text-center font-bold text-4xl mb-8">Family Index</h1>
        <a class=" flex justify-end text-xl mb-5 mr-3 text-white" href="{{ path('app_family_new') }}">Create new</a>

        <div class=" overflow-x-auto">
            <table class=" table-auto shadow-md rounded-lg bg-white w-full">
                <thead class=" text-gray-700 bg-gray-200">
            <tr>
                <th class=" py-2 px-4">Id</th>
                <th class=" py-2 px-4">FamilyName</th>
                <th class=" py-2 px-4">Adress</th>
                <th class=" py-2 px-4">Phone</th>
                <th class=" py-2 px-4">Composition</th>
                <th class=" py-2 px-4">Accommodation</th>
                <th class=" py-2 px-4">Father_Profession</th>
                <th class=" py-2 px-4">Mother_Profession</th>
                <th class=" py-2 px-4">Insurance</th>
                <th class=" py-2 px-4">Health_Status</th>
                <th class=" py-2 px-4">Actions</th>
            </tr>
        </thead>
        <tbody class=" text-gray-600">
        {% for family in families %}
            <tr>
                <td class=" py-2 border px-4">{{ family.id }}</td>
                <td class=" py-2 border px-4">{{ family.familyName }}</td>
                <td class=" py-2 border px-4">{{ family.Adress }}</td>
                <td class=" py-2 border px-4">{{ family.Phone }}</td>
                <td class=" py-2 border px-4">{{ family.composition }}</td>
                <td class=" py-2 border px-4">{{ family.Accommodation }}</td>
                <td class=" py-2 border px-4">{{ family.FatherProfession }}</td>
                <td class=" py-2 border px-4">{{ family.motherProfession }}</td>
                <td class=" py-2 border px-4">{{ family.Insurance }}</td>
                <td class=" py-2 border px-4">{{ family.HealthStatus }}</td>
                <td class=" py-2 border px-4">
                    <a href="{{ path('app_family_show', {'id': family.id}) }}"  class=" text-blue-500 hover:underline">show</a>
                    <a href="{{ path('app_family_edit', {'id': family.id}) }}"  class=" text-blue-500 ml-2 hover:underline">edit</a>
                   <form method="post" action="{{ path('app_family_delete', {'id': family.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ family.id) }}">
    <button>Delete</button>
</form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

