{% extends 'baseV1.html.twig' %}

{% block title %}New Family{% endblock %}

{% block body %}
<div class="isk-p-9 isk-rounded-xl isk-bg-zinc-200">
    <div> 
        <h1 class=" isk-flex isk-justify-center isk-text-3xl isk-font-bold isk-mb-9 isk-text-sky-800">Create new Family</h1>

        {# <form class="isk-max-w-md isk-items-center isk-border-neutral-950" action="{{ path('app_family_index') }}" method="post">
            {{ form_start(form) }}
            <div>
                {{ form_label(form.familyName, 'Family Name') }}
                {{ form_widget(form.familyName) }}
            </div>
            <div>
                {{ form_label(form.adress, 'Family Adress')}}
             {{ form_widget(form.adress, {'attr': {'id': 'autocomplet'}}) }}
            </div>

            <div>
                {{ form_label(form.phone, 'Family Phone') }}
                {{ form_widget(form.phone) }}
            </div>
            <div>
                {{ form_label(form.composition, 'Family composition') }}
                {{ form_widget(form.composition) }}
            </div>
            <div>
                {{ form_label(form.Accommodation, 'Family Accommodation') }}
                {{ form_widget(form.Accommodation) }}
            </div>
            <div>
                {{ form_label(form.Father_Profession, 'Family Father_Profession') }}
                {{ form_widget(form.Father_Profession) }}
            </div>
            <div>
                {{ form_label(form.mother_Profession, 'Family mother_Profession') }}
                {{ form_widget(form.mother_Profession) }}
            </div>
            <div>
                {{ form_label(form.Insurance, 'Family Insurance') }}
                {{ form_widget(form.Insurance) }}
            </div>
            <div>
                {{ form_label(form.Health_Status, 'Family Health_Status') }}
                {{ form_widget(form.Health_Status) }}
            </div>

            <div class="isk-flex isk-justify-center isk-mt-7">            
                <button type="submit" class="isk-relative isk-inline-flex isk-items-center isk-justify-center isk-py-0.9 isk-mb-2 isk-me-2 isk-overflow-hidden isk-text-sm isk-font-medium isk-text-gray-900 isk-rounded-lg isk-group isk-bg-gradient-to-br isk-from-cyan-500 isk-to-blue-500 group-hover:isk-from-cyan-500 group-hover:isk-to-blue-500 hover:isk-text-white dark:isk-text-white focus:isk-ring-4 focus:isk-outline-none focus:isk-ring-cyan-200 dark:focus:isk-ring-cyan-800">
                    <span class="isk-relative isk-px-7 isk-py-2.5 isk-transition-all isk-ease-in isk-duration-75 isk-bg-white dark:isk-bg-gray-900 isk-rounded-md group-hover:isk-bg-opacity-0">Save</span>
                </button>   
                <a href="{{ path('app_family_index') }}" class="isk-ml-4 isk-mt-2 isk-text-gray-500 hover:isk-text-sky-700">Back to list</a>
            </div>

            {{ form_end(form) }}
        </form> #}
            {{ include('family/_form.html.twig', {'button_label': 'Save'}) }}
            <a href="{{ path('app_family_index') }}" class=" isk-text-gray-500 hover:isk-text-sky-700">back to list</a>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    function initMap() {
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEYlibraries=placescallback=initMap"></script>
{% endblock %}