{% extends 'baseV1.html.twig' %}

{% block title %}Family{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ family.id }}</td>
                    </tr>
                    <tr>
                        <th>Family Name</th>
                        <td>{{ family.familyName }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ family.adress }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ family.phone }}</td>
                    </tr>
                    <tr>
                        <th>Composition</th>
                        <td>{{ family.composition }}</td>
                    </tr>
                    <tr>
                        <th>Accommodation</th>
                        <td>{{ family.accommodation }}</td>
                    </tr>
                    <tr>
                        <th>Father Profession</th>
                        <td>{{ family.fatherProfession }}</td>
                    </tr>
                    <tr>
                        <th>Mother Profession</th>
                        <td>{{ family.motherProfession }}</td>
                    </tr>
                    <tr>
                        <th>Insurance</th>
                        <td>{{ family.insurance }}</td>
                    </tr>
                    <tr>
                        <th>Health Status</th>
                        <td>{{ family.healthStatus }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="btn-group">
                <a href="{{ path('app_family_index') }}" class="btn btn-primary">Back to list</a>
                <a href="{{ path('app_family_edit', {'id': family.id}) }}" class="btn btn-warning">Edit</a>
                {{ include('family/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
