{% extends 'baseV1.html.twig' %}

{% block title %}Donate Index{% endblock %}

{% block body %}
<div class="isk-container isk-mx-auto isk-p-4">
    <h1 class="isk-text-center isk-font-bold isk-text-4xl isk-mb-8">Donate Index</h1>
      <div class="isk-overflow-x-auto">
        <table class="isk-table-auto isk-shadow-md isk-rounded-lg isk-bg-white isk-w-full">
            <thead class="isk-text-gray-700 isk-bg-gray-200">
                <tr>
                    <th class="isk-py-2 isk-px-4">Id</th>
                    <th class="isk-py-2 isk-px-4">Type</th>
                    <th class="isk-py-2 isk-px-4">Created At</th>
                    <th class="isk-py-2 isk-px-4">Created By</th>
                    <th class="isk-py-2 isk-px-4">Quantity</th>
                    <th class="isk-py-2 isk-px-4">Description</th>
                    <th class="isk-py-2 isk-px-4">Title</th>
                    <th class="isk-py-2 isk-px-4">Actions</th>
                </tr>
            </thead>
            <tbody class="isk-text-gray-600">
                {% for donate in donates %}
                <tr>
                    <td class="isk-py-2 isk-border isk-px-4">{{ donate.id }}</td>
                    <td class="isk-py-2 isk-border isk-px-4">{{ donate.type }}</td>
                    <td class="isk-py-2 isk-border isk-px-4">{{ donate.createdAt ? donate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="isk-py-2 isk-border isk-px-4">{{ donate.createdBy }}</td>
                    <td class="isk-py-2 isk-border isk-px-4">{{ donate.quantity }}</td>
                    <td class="isk-py-2 isk-border isk-px-4">{{ donate.description }}</td>
                    <td class="isk-py-2 isk-border isk-px-4">{{ donate.title }}</td>
                    <td class="isk-py-2 isk-border isk-px-4">
                        <a href="{{ path('app_donate_show', {'id': donate.id}) }}" class="isk-text-blue-500 isk-hover:underline">Show</a>
                        <a href="{{ path('app_donate_edit', {'id': donate.id}) }}" class="isk-text-blue-500 isk-ml-2 isk-hover:underline">Edit</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8" class="isk-border isk-text-center isk-py-2 isk-px-4">No records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="isk-mt-8 isk-justify-center isk-flex">
        <a href="{{ path('app_donate_new') }}" class="isk-shadow-md isk-rounded-full isk-bg-blue-500 isk-ease-in-out isk-duration-300 isk-transition isk-text-white isk-font-bold isk-py-2 isk-px-6 isk-hover:bg-blue-600">Create New</a>
    </div>
</div>
{% endblock %}
