{% extends 'baseV1.html.twig' %}

{% block title %}Donate Index{% endblock %}

{% block body %}
<div class="container">
    <h1>Donate Index</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Created At</th>
                    <th>Created By</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for donate in donates %}
                <tr>
                    <td>{{ donate.id }}</td>
                    <td>{{ donate.type }}</td>
                    <td>{{ donate.createdAt ? donate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ donate.createdBy }}</td>
                    <td>{{ donate.quantity }}</td>
                    <td>{{ donate.description }}</td>
                    <td>{{ donate.title }}</td>
                    <td>
                        <a href="{{ path('app_donate_show', {'id': donate.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_donate_edit', {'id': donate.id}) }}" class="btn btn-secondary">Edit</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">No records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a href="{{ path('app_donate_new') }}" class="btn btn-success">Create New</a>
    </div>
</div>
{% endblock %}