{% extends 'baseV1.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class=" mx-auto p-4 container">
        <h1 class=" text-center font-bold text-4xl mb-8">User Index</h1>

        <div class=" overflow-x-auto">
            <table class=" table-auto shadow-md rounded-lg bg-white w-full">
                <thead class=" text-gray-700 bg-gray-200">
                    <tr>
                        <th class=" py-2 px-4">Id</th>
                        <th class=" py-2 px-4">Username</th>
                        <th class=" py-2 px-4">Roles</th>
                        <th class=" py-2 px-4">Password</th>
                        <th class=" py-2 px-4">Actions</th>
                    </tr>
                </thead>
                <tbody class=" text-gray-600">
                    {% for user in users %}
                        <tr>
                            <td class=" py-2 border px-4">{{ user.id }}</td>
                            <td class=" py-2 border px-4">{{ user.username }}</td>
                            <td class=" border py-2 px-4">{{ user.roles ? user.roles|join(', ') : 'None' }}</td>
                            <td class=" py-2 border px-4">{{ user.password }}</td>
                            <td class=" py-2 border px-4">
                                <a href="{{ path('app_user_show', {'id': user.id}) }}" class=" text-blue-500 hover:underline">Show</a>
                                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class=" text-blue-500 ml-2 hover:underline">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class=" border text-center py-2 px-4">No records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class=" mt-8 justify-center flex">
            <a href="{{ path('app_user_new') }}" class=" shadow-md rounded-full bg-blue-500 ease-in-out duration-300 transition text-white font-bold py-2 px-6 hover:bg-blue-600">Create New</a>
        </div>
    </div>
{% endblock %}
